In [1]:
map

map

In [2]:
def squre(num):
    return num**2

In [3]:
my_nums = [1,2,3,4,5]

In [4]:
for item in map(squre,my_nums):
    print(item)

1
4
9
16
25

In [5]:
list(map(squre,my_nums))

[1, 4, 9, 16, 25]

In [6]:
def square(nums):
    return nums**2

In [7]:
squre(2)

4

In [8]:
q_nums = [1,2,3,4,5]

In [9]:
for item in map(square,q_nums):
    print(item)

1
4
9
16
25

In [10]:
list(map(square,q_nums))

[1, 4, 9, 16, 25]

In [17]:
def spider(mystring):
    if len(mystring)% 2 == 0:
        return 'Even'
    else:
        return mystring[0]

In [18]:
name = ['aveekshaj','nanu','kanu','harsh']

In [19]:
list(map(spider,name))

['a', 'Even', 'Even', 'h']

In [20]:
def check_even(num):
    return num % 2== 0

In [21]:
my_nums = [1,2,3,4,5,6]

In [22]:
list(map(check_even,my_nums))

[False, True, False, True, False, True]

In [23]:
filter(check_even,my_nums)

In [24]:
for item in filter(check_even,my_nums):
    print(item)

2
4
6

In [25]:
list(filter(check_even,my_nums))

[2, 4, 6]

In [26]:
def square(num):
    result = num**2
    return result

In [28]:
square(5)

25

In [29]:
square(9)

81

In [30]:
square = lambda num: num**2

In [31]:
square(7)

49

In [32]:
list(map(lambda num: num**2,my_nums))

[1, 4, 9, 16, 25, 36]

In [33]:
list(filter(lambda num : num%2 == 0,my_nums))

[2, 4, 6]

In [38]:
list(map(lambda name: name[1:3], name ))

['ve', 'an', 'an', 'ar']

In [39]:
# NESTED SATATEMENTS

In [18]:
x = 25

def printer():
    x = 50
    return x

In [19]:
print(x)

25

In [20]:
print(printer())

50

In [21]:
# lambda num : num**2

In [31]:
# global
name = 'this is a global string'

def greed():
    # enclosing
    name = 'sammy'
    
    
    def hello():
        # local
        name = ' i am local'
        print('hello'+' '+  name)
        
    hello()
    
greed()

hello  i am local

In [30]:
greed()

hello  i am local

In [37]:
x = 20

def func():
    global x
    print(f'X is {x}')
    
    x = 200
    print(f'i just locally change X to {x}')

In [39]:
print(x)

20

In [40]:
func()

X is 20
i just locally change X to 200

In [41]:
print(x)

200

In [42]:
x = 20

def func(x):
    print(f'X is {x}')
    
    x = 200
    print(f'i just locally change X to {x}')
    return x

In [43]:
print(x)

20

In [44]:
x = func(x)

X is 20
i just locally change X to 200

In [45]:
x

200

In [46]:
print(x)

200

In [49]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [50]:
vol(2)

33.49333333333333

In [52]:
5 in range(0,4)

False

In [53]:
5 in range(0,10)

True

In [56]:
def ran_check(num,low,high):
    if num in range(low,high+1):
        print(f'{num} is in the range between {low} and {high} ')
    else:
        print(f'{num} is not in range')

In [57]:
ran_check(5,2,7)

5 is in the range between 2 and 7

In [58]:
def rang_check(num,low,high):
    return num in range(low,high+1)

In [59]:
rang_check(3,1,10)

True

In [63]:
def up_low(s):
    
    lowercase = 0
    uppercase = 0
    
    for char in s:
        if char.isupper():
            uppercase += 1
        elif char.islower():
            lowercase += 1
        else:
            pass
        
    print(f'original string : {s}')
    print(f'lowercase count : {lowercase}')
    print(f'uppercase count : {uppercase}')

In [64]:
s = 'Hello Sir How May I Help You?'

In [65]:
up_low(s)

original string : Hello Sir How May I Help You?
lowercase count : 15
uppercase count : 7

In [76]:
def low_up(s):
    
    d = {'upper': 0, 'lower': 0}
    
    for char in s:
        if char.isupper():
            d['upper'] += 1
        elif char.islower():
            d['lower'] += 1
        else:
            pass
        
    print(f'original string : {s}')
    print(f'lowercas count : {d["lower"]}')
    print(f'uppercase count : {d["upper"]}')

In [77]:
s = 'Hello Mr. Rogers, How are you this fine Tuesday'

In [78]:
low_up(s)

original string : Hello Mr. Rogers, How are you this fine Tuesday
lowercas count : 32
uppercase count : 5

In [1]:
def low_up(s):
    
    uppercase = 0
    lowercase = 0
    
    for char in s:
        if char.isupper():
            uppercase += 1
        elif char.islower():
            lowercase += 1
        else:
            pass
        
    print(f'original string : {s}')
    print(f'uppercase count : {uppercase}')
    print(f'lowercase count : {lowercase}')

In [2]:
s = 'Hey I am Bhavesh Mewara '

In [3]:
low_up(s)

original string : Hey I am Bhavesh Mewara
uppercase count : 4
lowercase count : 15

In [4]:
def unique_list(lst):
    
    seen_numbers = []
    
    for number in lst:
        if number not in seen_numbers:
            seen_numbers.append(number)
    
    return seen_numbers

In [5]:
unique_list([1,2,1,2,1,2,3,3,3,4,4,4,5,5,5,6,6,6,7,7,7,8,8,8,8,9,9,9,])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
def addition(numbers):
    
    total = 0
    
    for num in numbers:
        total += num
    return total

In [7]:
addition([1,2,3,4,5])

15

In [9]:
def multiply(numbers):
    
    total = 1
    
    for num in numbers:
        total = total * num
        
    return total

In [10]:
multiply([1,2,3,4,-5])

-120

In [15]:
def palindrome(s):
    s = s.replace(' ','')
    s = s[::-1]
    return s == s[::-1]

In [16]:
palindrome('nurses run')

True

In [17]:
def palindrome(d):
    d = d.replace(' ','')
    
    return d

In [18]:
palindrome('nurses run')

'nursesrun'

In [19]:
def palindrome(d):
    
    return d == d[::-1]

In [20]:
palindrome('nursesrun')

True

In [29]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    
    alphaset = set(alphabet)
    str1 = str1.replace(' ','')
    str1 = str1.lower()
    str1 = set(str1)
    return str1 == alphaset

In [30]:
ispangram("The quick brown fox jumps over the  lazy dog")

True

In [31]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'