In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [3]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [11]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [12]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [13]:
index_count = 0

for letter in 'abcde':
    print('at index {} the letter is {}'.format(index_count,letter))
    index_count += 1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [14]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [19]:
word = 'abcdef'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e


5
f

In [22]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']

In [23]:
zip(mylist1,mylist2)

In [24]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [25]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [27]:
'x' in[1,2,3,]

False

In [28]:
'x' in ['x','q','h']

True

In [29]:
'a' in 'a world'

True

In [30]:
'mykey' in {'mykey':12,'joker':232}

True

In [32]:
d = {'qwerty':57}

57 in d.values()

True

In [36]:
d = {'qwerty':789}

'qwerty' in d.keys()

True

In [37]:
mylist = [12, 445, 78 , 78]

In [39]:
min(mylist)

12

In [40]:
max(mylist)

445

In [42]:
##

In [43]:
from random import shuffle

In [44]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [45]:
shuffle(mylist)

In [46]:
mylist

[10, 7, 9, 2, 1, 8, 4, 3, 6, 5]

In [47]:
from random import setstate

In [49]:
shuffle(mylist)

In [50]:
mylist

[1, 2, 4, 3, 8, 6, 9, 7, 10, 5]

In [51]:
from random import randint

In [52]:
randint(0,122)

47

In [53]:
randint(45,87)

55

In [54]:
input ('enter a number here :')

enter a number here :456

'456'

In [58]:
result = input('enter a number here:')

enter a number here:45

In [62]:
type(result)

str

In [60]:
name = input ('whar is your name')

whar is your namebhavesh

In [61]:
name

'bhavesh'

In [63]:
float(result)

45.0

In [64]:
int(result)

45

LIST COMPHREHENSIONS

In [65]:
mystring = 'hello'

In [67]:
mylist =[]

for letter in mystring:
    mylist.append(letter)

In [68]:
mylist

['h', 'e', 'l', 'l', 'o']

In [69]:
name = 'DIVYA'

In [72]:
list = []

for letter in name:
    list.append(letter)

In [73]:
list

['D', 'I', 'V', 'Y', 'A']

In [77]:
mylist = [letter for letter in name]

In [78]:
mylist

['D', 'I', 'V', 'Y', 'A']

In [79]:
qwerty = 'bhavesh'

In [80]:
mylist = [letter for letter in qwerty]

In [81]:
mylist

['b', 'h', 'a', 'v', 'e', 's', 'h']

In [84]:
mylist = [z for z in range(14,20)]

In [85]:
mylist

[14, 15, 16, 17, 18, 19]

In [89]:
carlist = [x for x in car]

In [88]:
car = 'ferrari'

In [90]:
carlist

['f', 'e', 'r', 'r', 'a', 'r', 'i']

In [91]:
mylist = [num**2 for num in range(0,10)]

In [92]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [94]:
mylist = [x for x in range(0,11) if x%2 == 0]

In [95]:
mylist

[0, 2, 4, 6, 8, 10]

In [98]:
mylist = [y for y in range (0,20) if y%2 ==0 ]

In [99]:
mylist

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [101]:
celcius  = [0,10,20,30,40]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [102]:
fahrenheit

[32.0, 50.0, 68.0, 86.0, 104.0]

In [104]:
celcius = [45,87,65,23,98]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [105]:
fahrenheit

[113.0, 188.6, 149.0, 73.4, 208.4]

In [106]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)

In [107]:
fahrenheit

[113.0, 188.6, 149.0, 73.4, 208.4]

In [108]:
name = 'bhavesh'

In [109]:
list = []

for letter in name:
    list.append(letter)

In [110]:
list

['b', 'h', 'a', 'v', 'e', 's', 'h']

In [111]:
celcius = [45,78,98,56,23,54]

In [113]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)

In [114]:
fahrenheit

[113.0, 172.4, 208.4, 132.8, 73.4, 129.2]

In [115]:
fahrenheit = [((9/5)*temp +32) for temp in celcius]

In [116]:
fahrenheit

[113.0, 172.4, 208.4, 132.8, 73.4, 129.2]

In [117]:
results = [x if x%2 == 0 else 'odd' for x in range(0,11)]

In [118]:
results

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [119]:
results = [x if x%3 == 0 else 'num' for x in range (0,11)]

In [120]:
results

[0, 'num', 'num', 3, 'num', 'num', 6, 'num', 'num', 9, 'num']

In [122]:
mylist = []

for x in [2,4,6]:
    for y in [2,3,6]:
        mylist.append(x*y)

In [123]:
mylist

[4, 6, 12, 8, 12, 24, 12, 18, 36]

In [124]:
mylist = []

for x in [7,8,9]:
    for y in [89,56,23]:
        mylist.append(x*y)

In [125]:
mylist

[623, 392, 161, 712, 448, 184, 801, 504, 207]

In [126]:
mylist = [x*y for x in [2,4,6] for y in [10,20,30]]

In [127]:
mylist

[20, 40, 60, 40, 80, 120, 60, 120, 180]

In [131]:
mylist = [x-y for x in [2,1] for y in [25,65,32]]

In [132]:
mylist

[-23, -63, -30, -24, -64, -31]

questions answer

In [152]:
st = 'Sam print only the words that start with s in this sentence'

In [153]:
st

'Sam print only the words that start with s in this sentence'

In [154]:
st.split()

['Sam',
 'print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [155]:
for word in st.split():
    if word[0] == 's' or word[0] == 'S':
        print(word)

Sam
start
s
sentence

In [146]:
st.split()

['print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [140]:
for word in st.split():
    if word[0] == 'w':
        print(word)

words
with

In [156]:
for num in range(0,11):
    if num%2 == 0:
        print(num)

0
2
4
6
8
10

In [161]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [172]:
mylist = [y for y in range(1,51) if y%3 == 0 ]

In [173]:
mylist

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [185]:
st = 'print  every word in this sentence that has an even number of letters'

In [187]:
for word in st.split():
    if len(word) %2 == 0:
        print(word  +" " +   'is even!')

word is even!
in is even!
this is even!
sentence is even!
that is even!
an is even!
even is even!
number is even!
of is even!

In [189]:
for num in range(1,101):
    if num %3 == 0 and num%5 == 0:
        print('FizzBuzz')
    elif num%3 == 0:
        print('Fizz')
    elif num%5 == 0:
        print('Buzz')
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [190]:
st = 'create a list of the first letters of every word in this string'

In [204]:
list = [word[0] for word in st.split()]

In [205]:
list

['c', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']